.paddingTitlePages {
  padding-top: 40px;
}

.paddingTables {
  padding-bottom: 20px;
}

.imgETitulo {
  text-align: center;
}

.sections {
  margin-top: -150px;
}

.textmenu {
  color: #3a5512;
  font-weight: bold;
}

.backgroundNav {
  background-color: #bbc459;
}

html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.paddingTitlePagePalestrantes {
  padding-top: 100px;
}

.linkSumario {
  color: #000000;
}

.linkSumario:hover {
  text-decoration: none;
  color: #000000;
}

.paddingSection {
  margin-top: -60px;
}

@media screen and (max-width: 480px) {
  .realizacao {
    font-size: 120%;
  }
}

@media screen and (min-width: 481px) and (max-width: 990px) {
  .realizacao {
    font-size: 150%;
  }
}

@media screen and (min-width: 990px) and (max-width: 1333px) {
  .paddingBottomSection {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1333px) {
  .paddingBottomSection {
    margin-bottom: -180px;
  }
}

.paddingTopHeader {
  margin-top: -40px;
}

.nav-item-personal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-chamada-mebio {
  width: 100%;
}

.nav-item-principal {
  display: flex;
  align-items: center;
}

.div-vem-ai {
  box-sizing: border-box;
  padding: 1.5rem;
}

.banner-chamada-mebio {
  justify-content: center;
  align-items: center;
  display: flex;
}

/* Fill button styling */
.fill {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.fill::after {
  content: "";
  background-color: #bbc459;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}

/* End of Fill Button  */
